# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Creem
CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
NEXT_PUBLIC_CREEM_PRODUCT_ID_STARTER=
NEXT_PUBLIC_CREEM_PRODUCT_ID_PRO=
NEXT_PUBLIC_CREEM_PRODUCT_ID_BUSINESS=
